@font-face {
    font-family: "Circular Std";
    src: local("Circular Std"), url("./CircularStd-Book.otf") format("truetype");
}
@font-face {
    font-family: "coolvetica";
    src: local("coolvetica"), url("./coolvetica-rg.otf") format("truetype");
}
