.footer {
    background-color: $footer-bg;
    padding: 100px 0;
    &-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 35px;
        & > img {
            height: 72px;
            width: 72px;
        }
        & > h5 {
            font-family: "coolvetica";
            font-size: 48px;
            font-weight: 400;
            line-height: 58px;
            color: #fff;
            & > span {
                font-family: "coolvetica";
                color: $primary-color;
            }
        }
    }
    &-links-wrapper {
        margin-top: 40px;
        color: #fff;
        display: flex;
        justify-content: space-between;

        .footer-link {
            & > ul {
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                & > li {
                    color: #acacac;
                    font-weight: 400;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .social-link-wrapper {
            max-width: 140px;
            .social-link {
                display: flex;
                justify-content: space-between;
                & > a {
                    @include centerElement(40px, 40px);
                    border-radius: 50%;
                    border: 1px solid gray;
                    transition: 0.2s ease-in-out;
                    margin-bottom: 15px;
                    cursor: pointer;
                    &:hover {
                        border: none;
                        background-color: $primary-color;
                    }
                }
            }
            & > p {
                font-size: 12px;
                font-style: normal;
                color: #acacac;
            }
        }
    }
    &-bottom-wrapper {
        .footer-bottom-text {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            margin: 15px 0 20px 0;
            & > span {
                color: #fff;
                font-size: 32px;
            }
            .line {
                flex: 1;
                height: 1px;
                width: 100%;
                background-color: #302f2f;
            }
        }
        .footer-bottom-info {
            display: flex;
            flex-wrap: wrap;
            gap: 66px;
            & > span {
                color: #acabb3;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 16px;
                &:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}
