.news-letter {
    padding: 60px 0;
    @include breakpoint-down(small) {
        padding: 0 10px;
    }
    &-wrapper {
        background-image: url("../../../assets/images/Nft.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint-down(small) {
            padding: 20px;
            height: 400px;
        }
        & > div {
            text-align: center;
            margin-bottom: 4rem;
            @include breakpoint-down(small) {
                margin-bottom: 0;
            }
            & > h5 {
                font-family: "coolvetica";
                color: #fff;
                font-weight: 400;
                font-size: 3rem;
                line-height: 58px;
                @include breakpoint-down(small) {
                    line-height: 160%;
                    font-size: 1.5rem;
                }
            }
            & > p {
                color: rgba(255, 255, 255, 0.4);
                font-weight: 400;
                font-size: 1rem;
                line-height: 160%;
                margin: 20px 0 32px 0;
            }
            .email-group {
                display: inline-flex;
                align-items: center;
                position: relative;
                border: 1px solid #4a4e5f;
                border-radius: 8px;
                .email-input {
                    width: 280px;
                    height: 48px;
                    @include breakpoint-down(small) {
                        width: 170px;
                        height: 28px;
                    }
                    padding: 0 10px 0 15px;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    background-color: transparent;
                    &:focus {
                        outline: none;
                    }
                }
                & > span {
                    height: 48px;
                    width: 158px;
                    @include breakpoint-down(small) {
                        height: 38px;
                        width: 105px;
                    }
                    display: grid;
                    place-items: center;
                    border-radius: 8px;
                    color: #fff;
                    background-color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}
